In [7]:
document = 'this is my first document'
letter_count = {}

for letter in document:
    if letter in letter_count:
        letter_count[letter] += 1
    else:
        letter_count[letter] = 1

In [8]:
letter_count

{'t': 3,
 'h': 1,
 'i': 3,
 's': 3,
 ' ': 4,
 'm': 2,
 'y': 1,
 'f': 1,
 'r': 1,
 'd': 1,
 'o': 1,
 'c': 1,
 'u': 1,
 'e': 1,
 'n': 1}

In [14]:
mystring = 'this is the string that we are going to convert to list and apply the number of steps on it'

mystring

In [15]:
mystring

'this is the string that we are going to convert to list and apply the number of steps on it'

In [16]:
mystring = mystring.split()

In [17]:
mystring

['this',
 'is',
 'the',
 'string',
 'that',
 'we',
 'are',
 'going',
 'to',
 'convert',
 'to',
 'list',
 'and',
 'apply',
 'the',
 'number',
 'of',
 'steps',
 'on',
 'it']

In [18]:
word_count = {}

for word in mystring:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

In [19]:
word_count

{'this': 1,
 'is': 1,
 'the': 2,
 'string': 1,
 'that': 1,
 'we': 1,
 'are': 1,
 'going': 1,
 'to': 2,
 'convert': 1,
 'list': 1,
 'and': 1,
 'apply': 1,
 'number': 1,
 'of': 1,
 'steps': 1,
 'on': 1,
 'it': 1}

In [20]:
word_count['the']

2

In [21]:
new_string = 'how are you'

In [22]:
type(new_string)

str

In [23]:
new_string.split()

['how', 'are', 'you']

In [25]:
new_string = new_string.split()

In [26]:
type(new_string)

list

In [27]:
new_string

['how', 'are', 'you']

In [28]:
new_string = ' '.join(new_string)

In [29]:
new_string

'how are you'

In [30]:
type(new_string)

str

In [31]:
a = 3

In [32]:
type(a)

int

In [33]:
a = str(a)

In [35]:
type(a)

str

In [36]:
a = int(a)

In [37]:
type(a)

int

In [38]:
a

3

In [39]:
%%writefile text.txt

this is first line
this is second line
this is third line

Writing text.txt

In [42]:
file = open('text.txt', mode = 'r')

In [43]:
file.read()

'\nthis is first line\nthis is second line\nthis is third line\n'

In [44]:
file.seek(0)

0

In [45]:
file.readlines()

['\n', 'this is first line\n', 'this is second line\n', 'this is third line\n']

In [46]:
file.readlines()

[]

In [47]:
file.close()

In [48]:
mylist = [1,2,3]

In [49]:
type(mylist)

list

In [51]:
mylist = tuple(mylist)

In [52]:
mylist

(1, 2, 3)

In [53]:
mylist = list(mylist)

In [54]:
mylist

[1, 2, 3]

In [55]:
tup = (1,2)

In [56]:
x,y = tup

In [57]:
x

1

In [58]:
y

2

In [59]:
from collections import Counter

In [60]:
word_count = Counter(document)

In [62]:
type(word_count)

collections.Counter

In [63]:
def counter(document):
    letter_count = {}
    
    for letter in document:
        if letter in letter_count:
            letter_count[letter] += 1
        else:
            letter_count[letter] = 1
            
    return letter_count

counter('this is my first string')

{'t': 3,
 'h': 1,
 'i': 4,
 's': 4,
 ' ': 4,
 'm': 1,
 'y': 1,
 'f': 1,
 'r': 2,
 'n': 1,
 'g': 1}

In [64]:
from collections import Counter

In [66]:
word_count = Counter('this is my first document')

In [67]:
for word,count in word_count.most_common(10):
    print (word,count)

  4
t 3
i 3
s 3
m 2
h 1
y 1
f 1
r 1
d 1

In [68]:
document = 'this is my first string and I am going to find 10 most common words off of it'

letter_count = {}

for letter in document:
    if letter in letter_count:
        letter_count[letter] += 1
    else:
        letter_count[letter] = 1

In [69]:
letter_count

{'t': 6,
 'h': 1,
 'i': 7,
 's': 6,
 ' ': 17,
 'm': 5,
 'y': 1,
 'f': 5,
 'r': 3,
 'n': 5,
 'g': 3,
 'a': 2,
 'd': 3,
 'I': 1,
 'o': 8,
 '1': 1,
 '0': 1,
 'c': 1,
 'w': 1}

In [70]:
from collections import Counter

In [71]:
letter_count = Counter('this is my first line')

In [72]:
letter_count

Counter({'t': 2,
         'h': 1,
         'i': 4,
         's': 3,
         ' ': 4,
         'm': 1,
         'y': 1,
         'f': 1,
         'r': 1,
         'l': 1,
         'n': 1,
         'e': 1})

In [73]:
most_common = letter_count.most_common(10)

In [74]:
most_common

[('i', 4),
 (' ', 4),
 ('s', 3),
 ('t', 2),
 ('h', 1),
 ('m', 1),
 ('y', 1),
 ('f', 1),
 ('r', 1),
 ('l', 1)]

In [75]:
type(most_common)

list

In [76]:
for word,count in word_count.most_common(10):
    print(word,count)

  4
t 3
i 3
s 3
m 2
h 1
y 1
f 1
r 1
d 1

In [77]:
x,y = most_common[1]

In [78]:
x

' '

In [79]:
y

4

In [82]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print (x)

0
1
2
4

In [83]:
one_is_less_than_two = 1 < 2

In [84]:
one_is_less_than_two

True

In [85]:
one_greater_than_three = 1 > 3

In [86]:
one_greater_than_three

False

In [87]:
x = [2,3,5,9,1]

In [88]:
x

[2, 3, 5, 9, 1]

In [89]:
x.sort()

In [90]:
x

[1, 2, 3, 5, 9]

In [91]:
x = [2,3,5,8,83]

In [92]:
x.sort(reverse = True)

In [93]:
x

[83, 8, 5, 3, 2]

In [95]:
x = [2,5,7,2,-1,-4]

In [96]:
x

[2, 5, 7, 2, -1, -4]

In [98]:
x.sort(key = abs)

In [99]:
x

[-1, 2, 2, -4, 5, 7]

In [108]:
even_numbers = [x for x in range(5) if x % 2 == 0]
squares = [x**2 for x in range(5)]
even_squares = [x**2 for x in even_numbers]

In [109]:
even_numbers

[0, 2, 4]

In [110]:
squares

[0, 1, 4, 9, 16]

In [111]:
even_squares

[0, 4, 16]

In [113]:
squares_dict = {x: x**2 for x in range(5)}

In [114]:
squares_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [116]:
type(squares_dict)

dict

In [117]:
squares_set = {x * x for x in [-1,1]}

In [119]:
squares_set

{1}

In [124]:
mylist = list(range(10))

In [125]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
mylist = [0 for num in mylist]

In [127]:
mylist

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [131]:
names = 'umair tahir sidra huma'.split()

In [132]:
names

['umair', 'tahir', 'sidra', 'huma']

In [133]:
names = ' '.join(names)

In [134]:
names

'umair tahir sidra huma'

In [135]:
numbers = [1,2,3,4]

In [136]:
numbers

[1, 2, 3, 4]

In [138]:
pairs = [(x,y)
        for x in range(10)
         for y in range(10)
        ]

In [139]:
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [140]:
len(pairs)

100

In [141]:
type(pairs)

list

In [142]:
pairs_set = [(x,y) for x in range(24)
            for y in range(13)
            ]

In [143]:
pairs_set

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (0, 11),
 (0, 12),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 12),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (2, 11),
 (2, 12),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (3, 11),
 (3, 12),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (4, 11),
 (4, 12),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10),
 (5, 11),
 (5, 12),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (6, 10),
 (6, 11),
 (6, 12),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (7, 10),
 (7, 11),
 (7, 12),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (8, 10),
 (8, 11),
 (8, 12),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9),
 (9, 10),
 (9, 11),
 (9, 12),
 (10, 0),
 (10, 1),
 (10, 2),
 (10, 3),
 (10, 4),
 (10, 5),
 (10, 6),
 (10, 7),
 (10, 8),
 (10, 9),
 (10, 10),
 (10, 11),
 (10, 12),
 (11, 0),
 (11, 1),
 (11, 2),
 (11, 3),
 (11, 4),
 (11, 5),
 (11, 6),
 (11, 7),
 (11, 8),
 (11, 9),
 (11, 10),
 (11, 11),
 (11, 12),
 (12, 0),
 (12, 1),
 (12, 2),
 (12, 3),
 (12, 4),
 (12, 5),
 (12, 6),
 (12, 7),
 (12, 8),
 (12, 9),
 (12, 10),
 (12, 11),
 (12, 12),
 (13, 0),
 (13, 1),
 (13, 2),
 (13, 3),
 (13, 4),
 (13, 5),
 (13, 6),
 (13, 7),
 (13, 8),
 (13, 9),
 (13, 10),
 (13, 11),
 (13, 12),
 (14, 0),
 (14, 1),
 (14, 2),
 (14, 3),
 (14, 4),
 (14, 5),
 (14, 6),
 (14, 7),
 (14, 8),
 (14, 9),
 (14, 10),
 (14, 11),
 (14, 12),
 (15, 0),
 (15, 1),
 (15, 2),
 (15, 3),
 (15, 4),
 (15, 5),
 (15, 6),
 (15, 7),
 (15, 8),
 (15, 9),
 (15, 10),
 (15, 11),
 (15, 12),
 (16, 0),
 (16, 1),
 (16, 2),
 (16, 3),
 (16, 4),
 (16, 5),
 (16, 6),
 (16, 7),
 (16, 8),
 (16, 9),
 (16, 10),
 (16, 11),
 (16, 12),
 (17, 0),
 (17, 1),
 (17, 2),
 (17, 3),
 (17, 4),
 (17, 5),
 (17, 6),
 (17, 7),
 (17, 8),
 (17, 9),
 (17, 10),
 (17, 11),
 (17, 12),
 (18, 0),
 (18, 1),
 (18, 2),
 (18, 3),
 (18, 4),
 (18, 5),
 (18, 6),
 (18, 7),
 (18, 8),
 (18, 9),
 (18, 10),
 (18, 11),
 (18, 12),
 (19, 0),
 (19, 1),
 (19, 2),
 (19, 3),
 (19, 4),
 (19, 5),
 (19, 6),
 (19, 7),
 (19, 8),
 (19, 9),
 (19, 10),
 (19, 11),
 (19, 12),
 (20, 0),
 (20, 1),
 (20, 2),
 (20, 3),
 (20, 4),
 (20, 5),
 (20, 6),
 (20, 7),
 (20, 8),
 (20, 9),
 (20, 10),
 (20, 11),
 (20, 12),
 (21, 0),
 (21, 1),
 (21, 2),
 (21, 3),
 (21, 4),
 (21, 5),
 (21, 6),
 (21, 7),
 (21, 8),
 (21, 9),
 (21, 10),
 (21, 11),
 (21, 12),
 (22, 0),
 (22, 1),
 (22, 2),
 (22, 3),
 (22, 4),
 (22, 5),
 (22, 6),
 (22, 7),
 (22, 8),
 (22, 9),
 (22, 10),
 (22, 11),
 (22, 12),
 (23, 0),
 (23, 1),
 (23, 2),
 (23, 3),
 (23, 4),
 (23, 5),
 (23, 6),
 (23, 7),
 (23, 8),
 (23, 9),
 (23, 10),
 (23, 11),
 (23, 12)]

In [145]:
len(pairs_set)

312

In [146]:
24 * 13

312

In [147]:
for x in range(4):
    for y in range(4):
        print((x,y))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [148]:
increasing_pairs = [(x,y) for x in range(5)
                   for y in range(x+1,5)
                   ]

In [149]:
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 3),
 (2, 4),
 (3, 4)]

In [150]:
len(increasing_pairs)

10

In [151]:
def lazy_range(n):
    i = 0
    while i < 10:
        yield i
        i += 1

In [152]:
lazy_range(10)

In [153]:
def lazy_range(n):
    n = 1
    while True:
        yield n
        n+=1
        if n == 5:
            break

In [154]:
lazy_range(1)

In [3]:
document = 'this is my first document'

letter_count = {}

for letter in document:
    if letter in letter_count:
        letter_count[letter] += 1
        
    else:
        letter_count[letter] = 1

In [4]:
letter_count

{'t': 3,
 'h': 1,
 'i': 3,
 's': 3,
 ' ': 4,
 'm': 2,
 'y': 1,
 'f': 1,
 'r': 1,
 'd': 1,
 'o': 1,
 'c': 1,
 'u': 1,
 'e': 1,
 'n': 1}

In [7]:
from collections import Counter

In [8]:
document = 'this is my first document'

In [9]:
Counter(document)

Counter({'t': 3,
         'h': 1,
         'i': 3,
         's': 3,
         ' ': 4,
         'm': 2,
         'y': 1,
         'f': 1,
         'r': 1,
         'd': 1,
         'o': 1,
         'c': 1,
         'u': 1,
         'e': 1,
         'n': 1})

In [10]:
document = 'this is my second document'

In [11]:
type(document)

str

In [12]:
document = document.split()

In [13]:
document

['this', 'is', 'my', 'second', 'document']

In [14]:
type(document)

list

In [15]:
word_count = {}

for word in document:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

In [16]:
word_count

{'this': 1, 'is': 1, 'my': 1, 'second': 1, 'document': 1}

In [17]:
from collections import Counter

In [21]:
count = Counter(document)

In [22]:
count

Counter({'this': 1, 'is': 1, 'my': 1, 'second': 1, 'document': 1})

In [23]:
count.most_common(4)

[('this', 1), ('is', 1), ('my', 1), ('second', 1)]

In [28]:
document

'this is my second string'

In [33]:
x = 'a t s s s l i'.split()

In [34]:
x

['a', 't', 's', 's', 's', 'l', 'i']

In [35]:
x.sort()

In [36]:
x

['a', 'i', 'l', 's', 's', 's', 't']

In [37]:
sorted('a k l l i d')

[' ', ' ', ' ', ' ', ' ', 'a', 'd', 'i', 'k', 'l', 'l']

In [42]:
## generators functions in python

def square_numbers(n):
    yield n ** 2

squares = square_numbers(23)

In [43]:
squares

In [63]:
def my_gen():
    n = 1
    print('this is first print')
    yield n
    
    n += 1
    print('this is second print')
    yield  n
    
    n += 1
    print('this is third print')
    yield n
    
    n += 1
    print('this is fourth print')
    yield n

In [64]:
a = my_gen()

In [66]:
print(a)

<generator object my_gen at 0x000001291AFD8CF0>

In [55]:
for item in a:
    print(item)

In [56]:
for item in a:
    print('a')

In [58]:
type(my_gen())

generator

In [68]:
def my_second_gen():
    a = 'a is a string'
    yield a
    b = 23
    yield b
    c = [3.2,'name','class']
    yield c

In [83]:
for item in my_second_gen():
    print(next(my_second_gen()))

a is a string
a is a string
a is a string

In [88]:
s = 'this is my string'

In [89]:
for letter in s:
    print(letter)

t
h
i
s

i
s

m
y

s
t
r
i
n
g

In [109]:
import random
random_list = [random.randint(2,10) for num in range(4)]

In [111]:
random_list_1 = [random.random() for num in range(4)]

In [112]:
random_list_1

[0.5342651252689876,
 0.8740816351151256,
 0.6724997649899258,
 0.36391536851124306]