In [2]:
%%writefile test.txt

This is a revision example
lets get started!!

Writing test.txt

In [3]:
open('test.txt')

In [4]:
myfile = open('test.txt')

In [5]:
myfile.read()

'\nThis is a revision example\nlets get started!!'

In [6]:
myfile.seek(0)

0

In [8]:
myfile.readlines()

['\n', 'This is a revision example\n', 'lets get started!!']

In [9]:
myfile.seek(0)

0

In [10]:
myfile = open('test.txt','w+')

In [11]:
myfile.write('this is a new line')

18

In [12]:
myfile

In [13]:
myfile.read()

''

In [14]:
myfile.seek(0)
myfile.read()

'this is a new line'

In [22]:
myfile = open('test.txt','a+')

In [26]:
myfile.write('\nthis is new line appended')

26

In [27]:
myfile.read()

''

In [28]:
myfile.seek(0)
myfile.read()

'this is a new linethis is new line appended\nthis is new line appended'

In [30]:
# FINDING SQAURE AND SQUARE ROOT OF THE NUMBER:
num = 4
num**2

16

In [31]:
# for square root of the number

num = 2

num ** 0.5

1.4142135623730951

In [32]:
s = 'hello'

s[1]

'e'

In [33]:
s[::-1]

'olleh'

In [34]:
s[-1]

'o'

In [35]:
s[4]

'o'

In [36]:
mylist = [0,0,0]

In [37]:
mylist

[0, 0, 0]

In [38]:
mylist = [0]*3

In [39]:
mylist

[0, 0, 0]

In [40]:
list3 = [1,2,[3,4,'hello']]

In [41]:
list3[2][2] = 'goodbye'

In [42]:
list3

[1, 2, [3, 4, 'goodbye']]

In [43]:
list4 = [5,3,4,6,1]

In [44]:
list4.sort()

In [45]:
list4

[1, 3, 4, 5, 6]

In [46]:
d = {'simple_key':'hello'}

In [47]:
d['simple_key']

'hello'

In [48]:
print(d['simple_key'])

hello

In [49]:
d = {'k1':{'k2':'hello'}}

In [50]:
d['k1']['k2']

'hello'

In [51]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [52]:
d

{'k1': [{'nest_key': ['this is deep', ['hello']]}]}

In [53]:
d['k1']

[{'nest_key': ['this is deep', ['hello']]}]

In [59]:
d['k1'][0]

{'nest_key': ['this is deep', ['hello']]}

In [61]:
d['k1'][0]['nest_key'][0][0]

't'

In [62]:

list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [63]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [64]:
d = {'k1':'umair', 'k2':'tahir'}

In [66]:
d['k1'] = 'tahir'

In [67]:
d

{'k1': 'tahir', 'k2': 'tahir'}

In [68]:
d['animal'] = 'elephant'

In [69]:
d

{'k1': 'tahir', 'k2': 'tahir', 'animal': 'elephant'}

In [71]:
d.pop('k1')

'tahir'

In [72]:
d

{'k2': 'tahir', 'animal': 'elephant'}

In [73]:
4**0.5 != 2

False

In [74]:
## '==' is a "compariso" operator, while '=' is an assignment operator

2 == 3

False

In [77]:
a = 2

In [78]:
a

2

In [79]:
# STATEMENTS IN PYTHON:

## THE "IF" STATEMENT. . 

if True:
    print('first if statement!!')

first if statement!!

In [82]:
x = False
if x:
    print('this is false!!')
    
else:
    print('x is true now!!')

x is true now!!

In [88]:
loc = True

if loc == 'autoshop':
    print('welcome to autoshop!')
elif loc == 'room':
    print('welcome to the room!!')
elif loc:
    print('welcome to the bank')
else:
    print('GO SOMEWHERE ELSE!!')

welcome to the bank

In [91]:
## LOOPS IN PYTHON:
## THE 'FOR' LOOP . . 

mystring = 'hello'

for item in mystring:
    print('cool!!')

cool!!
cool!!
cool!!
cool!!
cool!!

In [92]:
newstring = [1,2,3,4]

for item in newstring:
    print(item)

1
2
3
4

In [93]:
mystring

'hello'

In [94]:
for item in newstring:
    print('hello')

hello
hello
hello
hello

In [95]:
newstring

[1, 2, 3, 4]

In [96]:
for number in newstring:
    print('cool!')

cool!
cool!
cool!
cool!

In [97]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [101]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [102]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
for num in list1:
    if num%2 == 0:
        print(num)

2
4
6
8
10

In [106]:
for num in list1:
    if num%2 == 0:
        print(num)
    else:
        print('ODD NUMBER')

ODD NUMBER
2
ODD NUMBER
4
ODD NUMBER
6
ODD NUMBER
8
ODD NUMBER
10

In [2]:
## ADDING VIA 'FOR' LOOP:

list1 = [1,2,3,4]

In [3]:
list1

[1, 2, 3, 4]

In [7]:
list_sum = 0

for num in list1:
    list_sum += num
    
    
print(n)

4

In [8]:
mystring = 'hello world!'

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d
!

In [9]:
# ITTERATING THROUGH TUPLES. . 

t = (1,2,3,4)

for num in t:
    print(t)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [11]:
for num in t:
    print(num)

1
2
3
4

In [12]:
## TUPLE UNPACKING..

new_list = [(1,2),(3,4),(5,6)]

for item in new_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [13]:
new_list

[(1, 2), (3, 4), (5, 6)]

In [14]:
for a,b in new_list:
    print(a,b)

1 2
3 4
5 6

In [15]:
new_list

[(1, 2), (3, 4), (5, 6)]

In [16]:
for item in new_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [17]:
for a,b in new_list:
    print(a,b)

1 2
3 4
5 6

In [18]:
for a,b in new_list:
    print(a)

1
3
5

In [19]:
print(b)

6

In [21]:
# ITERATING THROUGH DICTIONARIES IN PYTHON:

d = {'k1':'umair','k2':'huma'}

In [22]:
d

{'k1': 'umair', 'k2': 'huma'}

In [23]:
for item in d:
    print(item)

k1
k2

In [24]:
d.keys()

dict_keys(['k1', 'k2'])

In [25]:
d.values()

dict_values(['umair', 'huma'])

In [26]:
d.items()

dict_items([('k1', 'umair'), ('k2', 'huma')])

In [27]:
print(d.keys())

dict_keys(['k1', 'k2'])

In [28]:
print(d.values())

dict_values(['umair', 'huma'])

In [29]:
print(d.items())

dict_items([('k1', 'umair'), ('k2', 'huma')])

In [30]:
# since d.items() allows iteration therefore..

d

{'k1': 'umair', 'k2': 'huma'}

In [31]:
for k,v in d:
    print(k)
    print(v)

k
1
k
2

In [32]:
new_dict = {'k1': 'huma', 'k2':'saba'}

In [33]:
new_dict

{'k1': 'huma', 'k2': 'saba'}

In [34]:
for k,v in new_dict:
    print(k)
    print(v)

k
1
k
2

In [35]:
d.values()

dict_values(['umair', 'huma'])

In [36]:
list(d.values())

['umair', 'huma']

In [37]:
t = ('umair','tahir')

In [38]:
t

('umair', 'tahir')

In [39]:
for items in t:
    print('hellow')

hellow
hellow

In [48]:
# WHILE LOOP IN PYTHON.. ITERATING THROUGH WHILE LOOP

x = 0

while x < 20:
    
    print('The current value of X is:',x)
    x+=1
    
    
    print('X is still less then 10, adding 1 to X')
    

    
    if x == 10:
        print('The values of X has reached to 10 now!!')

The current value of X is: 0
X is still less then 10, adding 1 to X
The current value of X is: 1
X is still less then 10, adding 1 to X
The current value of X is: 2
X is still less then 10, adding 1 to X
The current value of X is: 3
X is still less then 10, adding 1 to X
The current value of X is: 4
X is still less then 10, adding 1 to X
The current value of X is: 5
X is still less then 10, adding 1 to X
The current value of X is: 6
X is still less then 10, adding 1 to X
The current value of X is: 7
X is still less then 10, adding 1 to X
The current value of X is: 8
X is still less then 10, adding 1 to X
The current value of X is: 9
X is still less then 10, adding 1 to X
The values of X has reached to 10 now!!
The current value of X is: 10
X is still less then 10, adding 1 to X
The current value of X is: 11
X is still less then 10, adding 1 to X
The current value of X is: 12
X is still less then 10, adding 1 to X
The current value of X is: 13
X is still less then 10, adding 1 to X
The current value of X is: 14
X is still less then 10, adding 1 to X
The current value of X is: 15
X is still less then 10, adding 1 to X
The current value of X is: 16
X is still less then 10, adding 1 to X
The current value of X is: 17
X is still less then 10, adding 1 to X
The current value of X is: 18
X is still less then 10, adding 1 to X
The current value of X is: 19
X is still less then 10, adding 1 to X

In [44]:
a = 10

while a != 0:
    print('The current value of A is:',a)
    print('A is still not equals to zero')
    
    a -= 1
    
    if a == 0:
        print('The value of A is zero now!!')

The current value of A is: 10
A is still not equals to zero
The current value of A is: 9
A is still not equals to zero
The current value of A is: 8
A is still not equals to zero
The current value of A is: 7
A is still not equals to zero
The current value of A is: 6
A is still not equals to zero
The current value of A is: 5
A is still not equals to zero
The current value of A is: 4
A is still not equals to zero
The current value of A is: 3
A is still not equals to zero
The current value of A is: 2
A is still not equals to zero
The current value of A is: 1
A is still not equals to zero
The value of A is zero now!!

In [52]:
# BREAK, CONTINUE AND PASS statements in PYTHON


x = 0

while x < 10:
    print('The current value of X is:',x)
    print('X is still less then 10')
    
    x += 1
    
    if x == 3:
        print('x == 3:')
        
    else:
        print('continuing')
        continue

The current value of X is: 0
X is still less then 10
continuing
The current value of X is: 1
X is still less then 10
continuing
The current value of X is: 2
X is still less then 10
x == 3:
The current value of X is: 3
X is still less then 10
continuing
The current value of X is: 4
X is still less then 10
continuing
The current value of X is: 5
X is still less then 10
continuing
The current value of X is: 6
X is still less then 10
continuing
The current value of X is: 7
X is still less then 10
continuing
The current value of X is: 8
X is still less then 10
continuing
The current value of X is: 9
X is still less then 10
continuing

In [55]:
x = 0

while x < 10:
    print('The value of X is ',x)
    print('X is still less than 10')
    
    x += 1
    
    if x == 3:
        print('x == 3 now')
        break
    else:
        print('continuing')
        continue

The value of X is  0
X is still less than 10
continuing
The value of X is  1
X is still less than 10
continuing
The value of X is  2
X is still less than 10
x == 3 now

In [56]:
# SOME USEFUL OPERATORS IN PYTHON

In [57]:
range(0,10)

range(0, 10)

In [58]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
range(0,10,2)

range(0, 10, 2)

In [60]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [61]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [62]:
## ENuMeRATE OPERATION

In [64]:
index_count = 0

mystring = 'abcdef'

for letter in mystring:
    print('At index {}, the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0, the letter is a
At index 1, the letter is b
At index 2, the letter is c
At index 3, the letter is d
At index 4, the letter is e
At index 5, the letter is f

In [66]:
my_string = 'umair'

for i,letter in enumerate(mystring):
    print('At index {} the letter is {} '.format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [67]:
for i,letter in enumerate('umairshah'):
    print('At index {} the letter is {}'.format(i,letter))

At index 0 the letter is u
At index 1 the letter is m
At index 2 the letter is a
At index 3 the letter is i
At index 4 the letter is r
At index 5 the letter is s
At index 6 the letter is h
At index 7 the letter is a
At index 8 the letter is h

In [68]:
index_count = 0

for letter in 'abcdef':
    print('At index {} the letter is {}'.format(index_count, letter))
    
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [69]:
enumerate('abcdef')

In [70]:
list(enumerate('abcdef'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

In [72]:
for i,j in list(enumerate('abcdef')):
    print(i,j)

0 a
1 b
2 c
3 d
4 e
5 f

In [75]:
list1 = [1,2,3,4]
list2 = list('abcd')

zip(list1,list2)

In [76]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [79]:
mystring = 'abcdef'

for i,letter in enumerate(mystring):
    print('At index {} the letter is {}'.format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [80]:
list(enumerate(mystring))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

In [81]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [82]:
for item1,item2 in zip(list1,list2):
    print('The first item in tuple was {} and second item was {}'.format(item1,item2))

The first item in tuple was 1 and second item was a
The first item in tuple was 2 and second item was b
The first item in tuple was 3 and second item was c
The first item in tuple was 4 and second item was d

In [83]:
## THE 'IN' OPERATOR IN PYTHON:

list('aeiou')

['a', 'e', 'i', 'o', 'u']

In [87]:
'a' in list('aeiou')

True

In [85]:
lst = ['a','e','i','o','u']

In [88]:
'a' in lst

True

In [89]:
lst = [1,2,3]

In [90]:
min(lst)

1

In [91]:
max(lst)

3

In [93]:
## BUILT-IN LIBRARIES IN PYTHON:

In [95]:
new_list = [2,3,1,6,3]

In [98]:
from random import shuffle

shuffle(new_list)

In [99]:
new_list

[3, 2, 3, 1, 6]

In [100]:
from random import randint

In [101]:
randint(0,10)

2

In [102]:
input('Enter your name:')

Enter your name:umair

'umair'

In [103]:
print(input('Enter your name:'))

Enter your name:Umaira
Umaira

In [104]:
# LIST COMPREHENSIONS IN PYTHON:

lst = [x for x in 'word']

In [105]:
lst

['w', 'o', 'r', 'd']

In [106]:
list('word')

['w', 'o', 'r', 'd']

In [109]:
lst = [x**2 for x in range(0,101) if x%2 == 0 ]

In [110]:
lst

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

In [111]:
celcius = [10,20,30,40,50,100]

fahrenhite = [((9/5)*number + 32) for number in celcius]

In [112]:
fahrenhite

[50.0, 68.0, 86.0, 104.0, 122.0, 212.0]