In [1]:
2+1

3

In [3]:
3-1

2

In [4]:
4%2

0

In [5]:
4/2

2.0

In [6]:
2**2

4

In [7]:
2**3

8

In [8]:
# ASSIGNING THE VARIABLES IN PYTHON

In [9]:
a = 10

In [10]:
a

10

In [11]:
a + a

20

In [12]:
a+a+a

30

In [13]:
# USAGE OF VARIABLES IN PYTHON

In [16]:
my_income = 100

text_rate = 0.1

my_text = my_income * text_rate

In [20]:
print(my_text)

10.0

In [22]:
# VARIABLES (DYNAMIC_ASSIGNMENT IN PYTHON)

In [24]:
my_dogs = 10

my_dogs

In [25]:
my_dogs

10

In [26]:
my_dogs = 'oscar'

In [27]:
my_dogs

'oscar'

In [28]:
my_dogs

'oscar'

In [29]:
mydogs = 10

mydogs = 'oscar'

In [30]:
mydogs

'oscar'

In [38]:
b = 20

In [39]:
b += 20

In [40]:
b

40

In [41]:
b += 10

In [42]:
b

50

In [43]:
b = 10

In [44]:
b *= 10

In [45]:
b

100

In [46]:
type(b)

int

In [47]:
type(mydogs)

str

In [48]:
type(a)

int

In [49]:
umair = (a,b)

In [50]:
umair

(60, 100)

In [57]:
a = 5

b = 5

c = 4

d = 5

e = 4

f = 34

In [52]:
umair = (a,b)

In [53]:
umair

(5, 5)

In [58]:
umair = ((a,b),(c,d),(e,f))

In [59]:
umair

((5, 5), (4, 5), (4, 34))

In [61]:
# STRING IN PYTHON

In [62]:
'hello world 1'
'hellow world 2'

'hellow world 2'

In [63]:
print('hello world 1')
print('hello world 2')
print('new line and this one \n')
print('is a new line')

hello world 1
hello world 2
new line and this one

is a new line

In [64]:
len('hello world')

11

In [65]:
new_string = 'hello world'

In [66]:
new_string

'hello world'

In [67]:
print(new_string)

hello world

In [68]:
new_string[0]

'h'

In [69]:
print(new_string[0])

h

In [70]:
# SLICING IN STRINGS IN PYTHON

In [71]:
new_string[0:]

'hello world'

In [72]:
new_string[1:]

'ello world'

In [73]:
new_string[2:]

'llo world'

In [74]:
new_string[3:]

'lo world'

In [75]:
new_string[11:]

''

In [76]:
new_string

'hello world'

In [77]:
new_string[:4]

'hell'

In [78]:
new_string[:11]

'hello world'

In [79]:
# NEGATIVE INDEXING IN PYTHON

In [80]:
new_string[-1]

'd'

In [81]:
new_string[-2]

'l'

In [82]:
new_string[-3]

'r'

In [83]:
new_string[:-1]

'hello worl'

In [84]:
# SLICING OF STRINGS IN PYTHON

In [85]:
s = 'Islamabad'

In [86]:
s

'Islamabad'

In [87]:
s[::1]

'Islamabad'

In [88]:
s[::2]

'Ilmbd'

In [89]:
s[::-1]

'dabamalsI'

In [90]:
s[::-2]

'dbmlI'

In [91]:
# STRINGS IN PYTHON ARE ALWASY IMMUTABLE

In [95]:
s

'Islamabad'

In [97]:
s[1:]

'slamabad'

In [98]:
s = 'x'+ s[1:]

In [99]:
s

'xslamabad'

In [100]:
s

'xslamabad'

In [101]:
print(s)

xslamabad

In [102]:
letter = 'z'

In [103]:
letter

'z'

In [104]:
letter*10

'zzzzzzzzzz'

In [105]:
s

'xslamabad'

In [106]:
s.upper()

'XSLAMABAD'

In [107]:
s.lower()

'xslamabad'

In [109]:
s[0].upper()

'X'

In [111]:
s

'xslamabad'

In [112]:
s.split()

['xslamabad']

In [113]:
s = 'Hello This Is A New String'

In [114]:
s

'Hello This Is A New String'

In [115]:
s.split()

['Hello', 'This', 'Is', 'A', 'New', 'String']

In [122]:
mylist = ['x','A','B','C']

In [123]:
mylist

['x', 'A', 'B', 'C']

In [125]:
mylist

['x', 'A', 'B', 'C']

In [127]:
# THE FORMATTING METHODS IN PYTHON

In [131]:
# THIS IS FIRST EXAMPLE OF FORMATTING METHOD

name = 'shah'

'MY NAME IS {} SHAH'.format(name)

'MY NAME IS shah SHAH'

In [140]:
# STRING FORMATTING METHOD USING PLACEHOLDERS

print('thats my name %s' %'umair shah')

thats my name umair shah

In [141]:
print('the price of oranges = %s and for bananas = %s' %('100kg','80kg'))

the price of oranges = 100kg and for bananas = 80kg

In [142]:
x = '100 kg'

y = '80 kg'

print('The price of oranges = %s and for bananas = %s' %(x,y))

The price of oranges = 100 kg and for bananas = 80 kg

In [143]:
print('my name is %s' %'umair')
print('my name is %r' %'umair')

print('name is %r and my brother name is %r' %('umair','tahir'))

my name is umair
my name is 'umair'
name is 'umair' and my brother name is 'tahir'

In [144]:
print('this is first %s' %'\tline')
print('this is firs %r' % '\tline')

this is first 	line
this is firs '\tline'

In [145]:
# "%d" operator functions

print('I wrote %s programs today' %3.75)

print('I wrote %d programs today' %3.75)

I wrote 3.75 programs today
I wrote 3 programs today

In [146]:
# PADDING AND PRECISION OF FLOATING POINT NUMBERS IN PYTHON

print('I have got %2.2f marks in intermediate' %(70.92))

I have got 70.92 marks in intermediate

In [147]:
print('this place is %4.5f years old' %(23.45))

this place is 23.45000 years old

In [148]:
# MULTIPLE FORMATTING TOGETHER:

print('My name is %s, my age is %d I live in Haripur for %1.2f years' %('umair',26.5,8.0))

My name is umair, my age is 26 I live in Haripur for 8.00 years

In [149]:
# THE .FORMATTING METHOD

print('this is python {} class'.format('REVISION'))

this is python REVISION class

In [154]:
print('the {1} {0} {2} jumps over the lazy dog'.format('brown','quick','fox'))

the quick brown fox jumps over the lazy dog

In [156]:
print('A {s} penny is penny earned' .format(s='saved'))

A saved penny is penny earned

In [159]:
print('{}   ||  {}'.format('FRUITS','PRICES'))
print('=================')
print('{}   ||  {}'.format('APPLES',10))
print('{}  ||  {}'.format('BANANAS',20))
print('{}  ||  {}'.format('ORANGES',30))

FRUITS   ||  PRICES
=================
APPLES   ||  10
BANANAS  ||  20
ORANGES  ||  30

In [160]:
print('this is my ten characters two decimal number %10.2f' %13.3434)
print('this is my ten characters two decimal number {0:10.2f}'.format(13.3434))

this is my ten characters two decimal number      13.34
this is my ten characters two decimal number      13.34

In [161]:
print('this is my fifteen characters 5 decimal number: {0:15.5f}'.format(234.234))

this is my fifteen characters 5 decimal number:       234.23400

In [163]:
print('for 3 characters 2 decimal numbers we can write this way {0:3.2f} in .format string notation'.format(234.3445))

for 3 characters 2 decimal numbers we can write this way 234.34 in .format string notation

In [166]:
# F'STRING METHOD IN PYTHON

name = 'shah'

print(f'My name is umair {name}')

My name is umair shah

In [168]:
num = 33.54357

print(f'this is two 1 digit 3 decimal number {num:1.3f}')

this is two 1 digit 3 decimal number 33.544

In [169]:
# LISTS IN PYTHON

In [170]:
mylist = ['umair','shah']

mylist

['umair', 'shah']

In [171]:
mylist[0] = 'tahir'

In [172]:
mylist

['tahir', 'shah']

In [174]:
# lists can actually hold different object types

newlist = [1,3,'myname',234.34]

In [175]:
newlist

[1, 3, 'myname', 234.34]

In [176]:
len(newlist)

4

In [177]:
type(newlist)

list

In [178]:
mylist

['tahir', 'shah']

In [179]:
newlist

[1, 3, 'myname', 234.34]

In [180]:
newlist[0]

1

In [181]:
newlist[1:]

[3, 'myname', 234.34]

In [184]:
newlist = newlist + ['new item']

In [186]:
newlist

[1, 3, 'myname', 234.34, 'new item']

In [187]:
newlist + ['huma']

[1, 3, 'myname', 234.34, 'new item', 'huma']

In [189]:
newlist + ['asma']

[1, 3, 'myname', 234.34, 'new item', 'asma']

In [190]:
newlist

[1, 3, 'myname', 234.34, 'new item']

In [191]:
newlist = newlist + ['asma']

In [192]:
newlist

[1, 3, 'myname', 234.34, 'new item', 'asma']

In [198]:
newlist * 2

[1,
 3,
 'myname',
 234.34,
 'new item',
 'asma',
 1,
 3,
 'myname',
 234.34,
 'new item',
 'asma']

In [199]:
newlist

[1, 3, 'myname', 234.34, 'new item', 'asma']

In [200]:
newlist

[1, 3, 'myname', 234.34, 'new item', 'asma']

In [201]:
newlist + ['name']

[1, 3, 'myname', 234.34, 'new item', 'asma', 'name']

In [202]:
newlist

[1, 3, 'myname', 234.34, 'new item', 'asma']

In [204]:
newlist.append(1)

In [205]:
newlist

[1, 3, 'myname', 234.34, 'new item', 'asma', 1]

In [206]:
newlist.append('umair')

In [207]:
newlist

[1, 3, 'myname', 234.34, 'new item', 'asma', 1, 'umair']

In [208]:
newlist.pop()

'umair'

In [209]:
newlist

[1, 3, 'myname', 234.34, 'new item', 'asma', 1]

In [210]:
newlist.reverse

In [211]:
newlist.reverse()

In [212]:
newlist

[1, 'asma', 'new item', 234.34, 'myname', 3, 1]

In [214]:
newlist.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [215]:
newlist.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [216]:
new_list = ['c','b','a','f','t']

In [217]:
new_list

['c', 'b', 'a', 'f', 't']

In [218]:
new_list.sort()

In [219]:
new_list

['a', 'b', 'c', 'f', 't']

In [220]:
new_list.reverse()

In [221]:
new_list

['t', 'f', 'c', 'b', 'a']

In [222]:
# LISTS INSIDE A LISTS

list1 = [1,2,['a','b','c'],3]

In [223]:
list1

[1, 2, ['a', 'b', 'c'], 3]

In [224]:
list2 = [2,3,5]
list3 = [6,7,8]

umair = [list1,list2,list3]

In [225]:
umair

[[1, 2, ['a', 'b', 'c'], 3], [2, 3, 5], [6, 7, 8]]

In [226]:
# MAKING DICTIONARIES IN PYTHON

d = {'key1':'value1','key2':'value2'}

In [227]:
d

{'key1': 'value1', 'key2': 'value2'}

In [228]:
d['key1']

'value1'

In [229]:
d['key2']

'value2'

In [231]:
d1 = {'k1':123,'k2':'jameel','k3':[1,2,'umair']}

In [232]:
d1

{'k1': 123, 'k2': 'jameel', 'k3': [1, 2, 'umair']}

In [233]:
d1['k3'][2]

'umair'

In [234]:
d1['k3'][2].upper()

'UMAIR'

In [235]:
d1['k1'] - 123

0

In [236]:
d1['k1'] -= 123

In [237]:
d1

{'k1': 0, 'k2': 'jameel', 'k3': [1, 2, 'umair']}

In [239]:
dictionary = {'k1':'value1','k2':'value2'}

In [240]:
dictionary

{'k1': 'value1', 'k2': 'value2'}

In [241]:
# THIS SHOWS DICTIONARIES ARE MUTABLE:

dictionary['k1'] = 'Dog'

In [242]:
dictionary

{'k1': 'Dog', 'k2': 'value2'}

In [243]:

# CREATING NEW KESY THROUGHT ASSIGNMENT:

dictionary['animal'] = 'Dog'
dictionary['sport'] = 'Cricket'

In [244]:
dictionary

{'k1': 'Dog', 'k2': 'value2', 'animal': 'Dog', 'sport': 'Cricket'}

In [245]:
# NESTING DICTIONARIES:

d = {'k1':{'key1':{'animal':'Dog'}}}

In [246]:
d

{'k1': {'key1': {'animal': 'Dog'}}}

In [249]:
d['k1']['key1']['animal'].upper()

'DOG'

In [250]:
new_dic = {'k1':1,'k2':2,'k3':3}

In [251]:
new_dic

{'k1': 1, 'k2': 2, 'k3': 3}

In [252]:
# REMEMBER!! It returns LIST keys or values whatever functions is applied

new_dic.keys()

dict_keys(['k1', 'k2', 'k3'])

In [253]:
new_dic.values()

dict_values([1, 2, 3])

In [257]:
# returns the tuple pairs of keys and corresponding values:

print(new_dic)

print(new_dic.items())

{'k1': 1, 'k2': 2, 'k3': 3}
dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [258]:
new_dic.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [259]:
# TUPLES IN PYTHON:

# TUPLES ARE IMMUTABLE UNLIKE LISTS:

t = (1,2,3)

t

(1, 2, 3)

In [260]:
len(t)

3

In [261]:
a = [1,2,3]

a.append('x')

In [262]:
a

[1, 2, 3, 'x']

In [263]:
a

[1, 2, 3, 'x']

In [264]:
a.append(5)

In [265]:
a

[1, 2, 3, 'x', 5]

In [266]:
t

(1, 2, 3)

In [267]:
t.index(4)

ValueError: tuple.index(x): x not in tuple

In [268]:
t.index(3)

2

In [269]:
t.count(3)

1

In [271]:
# SETS IN PYTHON; SETS ARE THE UNORDERED COLLECTION OF UNIQUE ELEMENTS

x = set()

x.add(1)

In [272]:
x

{1}

In [273]:
x.add(2)

In [274]:
x

{1, 2}

In [275]:
x.add('umair')

In [276]:
x

{1, 2, 'umair'}

In [277]:
list1

[1, 2, ['a', 'b', 'c'], 3]

In [278]:
list1 = [1,1,1,2,2,2,2,3,3,3,3]

In [279]:
set(list1)

{1, 2, 3}

In [280]:
# WORKING WITH THE FILES IN PYTHON

In [282]:
%%writefile umair.txt

This is a text file
this is the second line
this is the third line

Overwriting umair.txt

In [283]:
myfile = open('umair.txt')

In [284]:
myfile

In [285]:
myfile.read()

'\nThis is a text file\nthis is the second line\nthis is the third line'

In [286]:
myfile.readlines()

[]

In [287]:
myfile.seek(0)

0

In [288]:
myfile.readlines()

['\n',
 'This is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [289]:
myfile = open('wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'wrong.txt'

In [290]:
PWD

NameError: name 'PWD' is not defined

In [291]:
pwd

'C:\\Users\\umair'

In [293]:
myfile = open("C\\Users\\Umair\\Desktop\\new_file.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'C\\Users\\Umair\\Desktop\\new_file.txt'

In [294]:
myfile.close()

In [295]:
myfile = open("C\\Users\\Umair\\Desktop\\new_file.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'C\\Users\\Umair\\Desktop\\new_file.txt'

In [296]:
myfile.read()

ValueError: I/O operation on closed file.

In [297]:
myfile = open('umair.txt')

In [298]:
myfile.read()

'\nThis is a text file\nthis is the second line\nthis is the third line'

In [299]:
myfile = open('umair.txt','w+')

In [300]:
myfile.write('this is new line')

16

In [301]:
myfile.read()

''

In [302]:
myfile.seek(0)

0

In [303]:
myfile.readlines()

['this is new line']

In [304]:
myfile.seek(0)

0

In [305]:
myfile.read()

'this is new line'

In [312]:
# APPENDING TO THE EXISTING FILE:

myfile = open('umair.txt','a+')

myfile.write('this is another line')
myfile.seek(0)
myfile.readlines()

['this is new linethis is another linethis is another line']

In [311]:
myfile.seek(0)
print(myfile.read())

this is new linethis is another line

In [315]:


%%writefile -a umair.txt

another line is added here

Appending to umair.txt

In [316]:
myfile.seek(0)

0

In [317]:
myfile.read()

'this is new linethis is another linethis is another line\nanother line is added here\n\nanother line is added here\n'

In [318]:
%%writefile shah.txt

first line
second line

Writing shah.txt

In [319]:
myfile = open('shah.txt')

In [320]:
for line in myfile:
    print(line)

first line

second line

In [321]:
for line in myfile:
    print(myfile)

In [322]:
myfile

In [323]:
myfile.seek(0)
myfile.read()

'\nfirst line\nsecond line'

In [324]:
print(myfile)

<_io.TextIOWrapper name='shah.txt' mode='r' encoding='cp1252'>

In [325]:
myfile = open('shah.txt')

In [326]:
print(myfile)

<_io.TextIOWrapper name='shah.txt' mode='r' encoding='cp1252'>

In [ ]:
myfile = open()